<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: projectHead('Registration Page')}"></head>

<body>
<main class="w-75 mx-auto">
    <div class="container w-50">
        <div class="row d-flex justify-content-center align-items-center" style="height: 100vh">
            <div class="card border-dark" style="box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2)">
                <div class="text-center my-3"><h3>REGISTER HERE!</h3></div>
                <div th:if="${param.success eq true}">
                    <div class="alert alert-info">You've successfully registered to the app!</div>
                </div>
                <div th:if="${param.success eq false}">
                    <div class="alert alert-danger">Something went wrong with the authentication!</div>
                </div>
                <form th:action="@{/registration}" method="post" th:object="${user}">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input id="firstName" type="text" class="form-control" th:field="*{firstName}" placeholder="Enter First Name" required autofocus="autofocus"/>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input id="lastName" type="text" class="form-control" th:field="*{lastName}" placeholder="Enter Last Name" required autofocus="autofocus"/>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">@</span>
                            <input id="email" type="email" class="form-control" th:field="*{emailAddress}" placeholder="Enter Email Address" aria-label="email" aria-describedby="email"
                                   required autofocus="autofocus"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input id="password" type="password" class="form-control" th:field="*{password}" placeholder="Enter Password" required autofocus="autofocus"/>
                    </div>
                    <div class="mb-3">
                        <legend>Select your authority:</legend>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="authority" id="client">
                            <label class="form-check-label" for="client">Client</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="authority" id="manufacturer">
                            <label class="form-check-label" for="manufacturer">Manufacturer</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="authority" id="admin">
                            <label class="form-check-label" for="admin">Admin</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <button type="submit" class="btn btn-dark btn-lg">Register</button>
                    </div>
                </form>
                <div class="text-center lh-1">
                    <p>Already registered?</p>
                    <p><a class="link-dark" th:href="@{/login}">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>