<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/layout :: projectHead('Client Orders Page')}"></head>

<body sec:authorize="isAuthenticated()">

<header th:replace="~{fragments/layout :: projectHeader}"></header>

<main>
    <div class="px-4 pt-3">
        <div class="row">
            <h3>Orders List</h3>
        </div>
        <div class="row mb-3">
            <div class="col-lg-3">
                <a th:href="@{/client/orders/create-order/step1}" class="btn btn-primary">Add Order</a>
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th><a th:href="@{/client/orders/products}" class="text-white text-decoration-none">Order ID</a></th>
                    <th><a th:href="@{/client/orders/customers}" class="text-white text-decoration-none">Customer ID</a></th>
                    <th>Created at</th>
                    <th>Updated at</th>
                    <th><a th:href="@{/client/orders/addresses}" class="text-white text-decoration-none">Address ID</a></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order: ${orders}">
                    <td th:text="${order.orderId}"></td>
                    <td th:text="${order.customer.customerId}"></td>
                    <td th:text="${order.createdAt}"></td>
                    <td th:text="${order.updatedAt}"></td>
                    <td th:text="${order.address.addressId}"></td>
                    <td>
                        <a th:href="@{/client/orders/update-order/{id}(id=${order.orderId})}" class="btn btn-primary">Update</a>
                        <a th:href="@{/client/orders/delete-order/{id}(id=${order.orderId})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>04.04.2022 11:47:50</td>
                    <td>04.04.2022 11:47:50</td>
                    <td>1</td>
                    <td>
                        <a th:href="@{/client/orders/update-order/{id}(id=1)}" class="btn btn-primary">Update</a>
                        <a th:href="@{/client/orders/delete-order/{id}(id=1)}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2</td>
                    <td>05.04.2022 20:47:30</td>
                    <td>05.04.2022 20:47:30</td>
                    <td>2</td>
                    <td>
                        <a th:href="@{/client/orders/update-order/{id}(id=2)}" class="btn btn-primary">Update</a>
                        <a th:href="@{/client/orders/delete-order/{id}(id=2)}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

<footer th:replace="~{fragments/layout :: projectFooter}"></footer>

</body>
</html>