<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/layout :: projectHead('Home Page')}"></head>

<body sec:authorize="isAuthenticated()">

<header th:replace="~{fragments/layout :: projectHeader}"></header>

<main>
    <div class="d-flex justify-content-center align-items-center flex-column" style="height: 70vh">
        <div class="row mb-3">
            <img src="" th:src="@{/img/app/main-banner.png}" style="width: 500px; height: 250px" alt="scm-banner">
        </div>
        <div class="row">
            <h3 class="text-center">Welcome, <span class="fw-bold" sec:authentication="principal.username">User</span></h3>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/layout :: projectFooter}"></footer>

</body>
</html>